@import "@/assets/scss/mixins";

.banner {
  height: 363px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--VENUS_PINK);

  @include tablet {
    justify-content: space-between;
    align-items: stretch;
    height: 369px;
  }

  @include desktop {
    height: auto;
  }
}

.banner__left {
  display: none;

  @include tablet {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-basis: 50%;
    flex-grow: 0;
  }

  @include desktop {
    max-width: 50%;
  }
}

.banner__left-img {
  max-height: 100%;
  height: 100%;
  width: auto;

  @include desktop {
    height: 764px;
  }
}

.banner__text-block {
  position: relative;
  padding-left: 28px;
  line-height: 1.1;

  @include tablet {
    align-self: center;
    margin: 0 auto;
    line-height: 1.35;
  }

  @include desktop {
    margin-right: auto;
    margin-left: 63px;
    padding-left: 28px;
    line-height: 1.25;
  }

  &::before {
    content: "";
    width: 12px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--STRAWBERRY_PINK);
  }
}

.banner__title {
  font-size: 38px;
  font-weight: 900;

  @include tablet {
    font-size: 44px;
  }

  @include desktop {
    font-size: 42px;
  }
}

.banner__subtitle {
  font-size: 20px;
  font-weight: 700;

  @include tablet {
    font-size: 24px;
  }

  @include desktop {
    font-size: 32px;
  }

  span {
    color: var(--STRAWBERRY_PINK);
  }
}

// ------------------ Sections ---------------------

.sections {
  padding: 64px 0;

  @include tablet {
    padding: 20px 0 154px;
  }

  @include desktop {
    padding: 64px 0 96px;
  }

  & > .container {
    @include tablet {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 343/247;
  background-size: 100%;
  background-position: center;
  transition: background-size .3s;

  @include tablet {
    width: 232px;
    height: 167px;
  }

  @include desktop {
    width: 360px;
    height: 260px;
  }

  & + & {
    margin-top: 32px;

    @include tablet {
      margin-top: unset;
    }
  }

  &:hover {
    background-size: 110%;
  }
}

.section:last-child {
  aspect-ratio: 343/111;

  @include tablet {
    margin-top: 19px;
    width: 100%;
    height: 116px;
  }

  @include desktop {
    height: 180px;
    margin-top: 30px;
  }

  &:hover {
    background-size: 105%;
  }
}

$sections: women, men, kids, accesories;

@each $section in $sections {
  .section_#{$section} {
    background-image: url("@/assets/img/#{$section}.png");
  }
}

.section__text {
  text-align: center;

  @include tablet {
    line-height: 1.4;
  }
}

.section__text1 {
  font-size: 16px;
  color: var(--WHITE);
}

.section__text2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--STRAWBERRY_PINK);
}

// ------------------ Featured ---------------------

.featured {
  padding-bottom: 96px;
  text-align: center;
  line-height: 1.4;

  @include tablet {
    padding-bottom: 64px;
  }

  @include desktop {
    padding-bottom: 95px;
  }
}

.featured__title {
  font-size: 30px;
}

.featured__subtitle {
  font-size: 14px;
  color: var(--COLD_GREY);
}

.featured__product-list {
  margin-top: 64px;

  @include tablet {
    margin-top: 72px;
  }
}

.featured__browse-all {
  margin: 40px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 212px;
  height: 48px;
  font-size: 16px;
  color: var(--PONCEAU);
  border: 1px solid var(--POMPELMO);
  transition: background-color .3s, color .3s;

  @include tablet {
    margin-top: 32px;
  }

  @include desktop {
    margin-top: 48px;
  }

  &:hover {
    background-color: var(--POMPELMO);
    color: var(--WHITE);
  }
}

//---------------------- Cart --------------------

.home-page__cart-items {
  padding: 96px 0;
}
