@import "@/assets/scss/mixins";

// ------------------ Banner ---------------------

.banner {
  height: 363px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--VENUS_PINK);

  @include tablet {
    justify-content: space-between;
    align-items: stretch;
    height: 369px;
  }

  @include desktop {
    height: auto;
  }
}

.banner__left {
  display: none;

  @include tablet {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 1;
  }

  @include desktop {
    max-width: 50%;
  }
}

.banner__left-img {
  max-height: 100%;
  height: 100%;
  width: auto;

  @include desktop {
    height: 764px;
  }
}

.banner__text-block {
  position: relative;
  padding-left: 28px;
  line-height: 1.1;

  @include tablet {
    align-self: center;
    margin-right: 4.3vw;
    line-height: 1.35;
  }

  @include desktop {
    margin-right: auto;
    margin-left: 63px;
    padding-left: 28px;
    line-height: 1.25;
  }

  &::before {
    content: "";
    width: 12px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--STRAWBERRY_PINK);
  }
}

.banner__title {
  font-size: 38px;
  font-weight: 900;

  @include tablet {
    font-size: 44px;
  }

  @include desktop {
    font-size: 42px;
  }
}

.banner__subtitle {
  font-size: 20px;
  font-weight: 700;

  @include tablet {
    font-size: 24px;
  }

  @include desktop {
    font-size: 32px;
  }

  span {
    color: var(--STRAWBERRY_PINK);
  }
}

// ------------------ Sections ---------------------

.sections {
  padding: 64px 0;

  @include tablet {
    padding: 20px 0 154px;
  }

  @include desktop {
    padding: 64px 0 96px;
  }

  & > .container {
    @include tablet {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 343/247;
  background-size: cover;
  background-position: center;

  @include tablet {
    width: 232px;
    height: 167px;
  }

  @include desktop {
    width: 360px;
    height: 260px;
  }

  & + & {
    margin-top: 32px;

    @include tablet {
      margin-top: unset;
    }
  }
}

.section:last-child {
  aspect-ratio: 343/111;

  @include tablet {
    margin-top: 19px;
    width: 100%;
    height: 116px;
  }

  @include desktop {
    height: 180px;
    margin-top: 30px;
  }
}

$sections: women, men, kids, accesories;

@each $section in $sections {
  .section_#{$section} {
    background-image: url("@/assets/img/#{$section}.png");
  }
}

.section__text {
  text-align: center;

  @include tablet {
    line-height: 1.4;
  }
}

.section__text1 {
  font-size: 16px;
  color: var(--WHITE);
}

.section__text2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--STRAWBERRY_PINK);
}

// ------------------ Featured ---------------------

.featured {
  padding-bottom: 96px;
  text-align: center;
  line-height: 1.4;

  @include tablet {
    padding-bottom: 64px;
  }

  @include desktop {
    padding-bottom: 95px;
  }
}

.featured__title {
  font-size: 30px;

  @include tablet {
    font-size: 3.9vw;
  }

  @include desktop {
    font-size: 30px;
  }
}

.featured__subtitle {
  font-size: 14px;
  color: var(--COLD_GREY);

  @include tablet {
    font-size: 1.83vw;
  }

  @include desktop {
    font-size: 14px;
  }
}

.featured__product-list {
  margin-top: 65px;
}

.featured__browse-all {
  margin: 40px auto 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 212px;
  height: 48px;
  border: .5vw solid var(--POMPELMO);
  color: var(--PONCEAU);
  font-size: 16px;

  @include tablet {
    margin: 4.17vw auto 0;
    width: 27.87vw;
    height: 6.52vw;
    font-size: 2.09vw;
    border-width: .15vw;
  }

  @include desktop {
    width: 212px;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
  }
}

// ------------------ Capabilities ---------------------

.capabilities {
  padding: 48px 0 81px;
  background-color: var(--VERIFIED_BLACK);
  color: var(--WHITEOUT);

  @include tablet {
    padding: 6.25vw 0 8.34vw;
  }

  @include desktop {
    padding: 104px 0;
    gap: 30px;
  }

  & > .container {
    @include desktop {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.capabilities__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1;
  color: var(--WHITEOUT);

  @include desktop {
    width: 360px;
    padding: 0 30px;
  }

  & + & {
    margin-top: 47px;

    @include tablet {
      margin-top: 6.25vw;
    }

    @include desktop {
      margin-top: unset;
    }
  }
}

.capabilities__item-icon {
  width: 38px;
}

.capabilities__item-title {
  margin-top: 28px;
  font-size: 20px;

  @include tablet {
    margin-top: 3.65vw;
    font-size: 2.48vw;
  }

  @include desktop {
    margin-top: 28px;
    font-size: 20px;
  }
}


.capabilities__item-subtitle {
  margin-top: 14px;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 300;

  @include tablet {
    margin-top: 2.09vw;
    font-size: 1.83vw;
    max-width: 41vw;
  }

  @include desktop {
    margin-top: 16px;
    font-size: 14px;
  }
}

// ------------------ Review ---------------------

.review {
  padding: 64px 0 110px;
  color: var(--VERIFIED_BLACK);
  text-align: center;
  line-height: 1 ;
  background-size: cover;
  background-position: center bottom;

  @include mobile-only {
    background-image: url("@/assets/img/subscribe-bg.png");
  }

  @include tablet {
    padding: 64px 0 18.23vw;
    background-position: center;
  }

  @include tablet-only {
    background-image: url("@/assets/img/subscribe-bg-tablet.png");
  }

  @include desktop {
    padding: 97px 0 126px;
    background-image: url("@/assets/img/subscribe-bg-desktop.png");
  }

  & > .container {
    @include desktop {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.review__ava {
  margin: 0 auto;
  width: 92px;

  @include tablet {
    width: 12.5vw;
  }

  @include desktop {
    width: 96px;
  }
}

.review__text {
  margin-top: 30px;
  font-size: 18px;
  font-style: italic;

  @include tablet {
    margin: 3.91vw auto 0;
    font-size: 2.61vw;
    max-width: 50vw;
  }

  @include desktop {
    margin-top: 30px;
    max-width: 360px;
    font-size: 20px;
  }
}

// ------------------ Subscribe ---------------------

.subscribe {
  margin-top: 59px;

  @include tablet {
    margin-top: 9.5vw;
  }

  @include desktop {
    margin-top: unset;
    width: 560px;
  }
}

.subscribe__title {
  font-size: 24px;
  font-weight: 700;

  @include tablet {
    font-size: 3.13vw;
  }

  @include desktop {
    font-size: 24px;
  }
}

.subscribe__subtitle {
  font-size: 14px;
  margin-top: 4px;

  @include tablet {
    font-size: 2.35vw;
  }

  @include desktop {
    margin-top: 8px;
    font-size: 18px;
  }
}

.subscribe__email {
  margin-top: 22px;
  display: flex;
  height: 48px;
  font-size: 14px;
  line-height: 48px;

  @include tablet {
    margin: 7vw auto 0;
    font-size: 1.83vw;
    width: 46.36vw;
  }

  @include desktop {
    margin-top: 32px;
    width: 356px;
    font-size: 14px;
  }
}

.subscribe__email-field {
  padding-left: 27px;
  border-radius: 24px 0 0 24px;
  background-color: var(--JUPITER);
  flex-grow: 1;

  @include tablet {
    padding-left: 2.5vw;
  }

  @include desktop {
    width: auto;
    padding-left: 20px;
  }
}

.subscribe__email-submit {
  width: 95px;
  flex-shrink: 1;
  background-color: var(--STRAWBERRY_PINK);
  border-radius: 0 24px 24px 0;
  color: var(--WHITE);
  cursor: pointer;

  @include tablet {
    width: 25vw;
  }

  @include desktop {
    width: 100px;
  }
}
