@import "@/assets/scss/mixins";

// ------------------ Banner ---------------------

.banner {
  height: 96.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--VENUS_PINK);

  @include tablet {
    justify-content: space-between;
    align-items: stretch;
    height: 47vw;
  }

  @include desktop {
    height: auto;
  }
}

.banner__left {
  display: none;

  @include tablet {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 1;
  }

  @include desktop {
    max-width: 50%;
  }
}

.banner__left-img {
  max-height: 100%;
  height: 100%;
  width: auto;

  @include desktop {
    height: 764px;
  }
}

.banner__text-block {
  position: relative;
  padding-left: 7.47vw;
  line-height: 1.1;

  @include tablet {
    align-self: center;
    padding-left: 3.65vw;
    margin-right: 4.3vw;
    line-height: 1.35;
  }

  @include desktop {
    margin-right: auto;
    margin-left: 63px;
    padding-left: 28px;
    line-height: 1.25;
  }

  &::before {
    content: "";
    width: 3.2vw;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--STRAWBERRY_PINK);

    @include tablet {
      width: 1.57vw;
    }

    @include desktop {
      width: 12px;
    }
  }
}

.banner__title {
  font-size: 10.2vw;
  font-weight: 900;

  @include tablet {
    font-size: 5.74vw;
  }

  @include desktop {
    font-size: 42px;
  }
}

.banner__subtitle {
  font-size: 5.34vw;
  font-weight: 700;

  @include tablet {
    font-size: 3.13vw;
  }

  @include desktop {
    font-size: 32px;
  }

  span {
    color: var(--STRAWBERRY_PINK);
  }
}

// ------------------ Sections ---------------------

.sections {
  padding: 17.07vw 0;

  @include tablet {
    padding: 8.47vw 0 14.2vw;
  }

  @include desktop {
    padding: 65px 0 96px;
  }

  & > .container {
    @include tablet {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65.87vw;
  background-size: cover;
  background-position: center;

  @include tablet {
    width: 30.2vw;
    height: 24.35vw;
  }

  @include desktop {
    width: 360px;
    height: 260px;
  }

  & + & {
    margin-top: 8.54vw;

    @include tablet {
      margin-top: unset;
    }
  }
}

.section:last-child {
  height: 29.6vw;

  @include tablet {
    width: 100%;
    height: 15.1vw;
    margin-top: 2.35vw;
  }

  @include desktop {
    height: 180px;
    margin-top: 30px;
  }
}

$sections: women, men, kids, accesories;

@each $section in $sections {
  .section_#{$section} {
    background-image: url("@/assets/img/#{$section}.png");
  }
}

.section__text {
  text-align: center;

  @include tablet {
    line-height: 1.4;
  }
}

.section__text1 {
  font-size: 4.27vw;
  color: var(--WHITE);

  @include tablet {
    font-size: 2.09vw;
  }

  @include desktop {
    font-size: 16px;
  }
}

.section__text2 {
  font-size: 6.4vw;
  font-weight: 700;
  color: var(--STRAWBERRY_PINK);

  @include tablet {
    font-size: 3.13vw;
  }

  @include desktop {
    font-size: 24px;
  }
}

// ------------------ Featured ---------------------

.featured {
  padding-bottom: 25.6vw;
  text-align: center;
  line-height: 1.4;

  @include tablet {
    padding-bottom: 8.4vw;
  }

  @include desktop {
    padding-bottom: 95px;
  }
}

.featured__browse-all {
  margin: 10.67vw auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57.07vw;
  height: 13.34vw;
  border: .5vw solid var(--POMPELMO);
  color: var(--PONCEAU);
  font-size: 4.27vw;

  @include tablet {
    margin: 4.17vw auto 0;
    width: 27.87vw;
    height: 6.52vw;
    font-size: 2.09vw;
    border-width: .15vw;
  }

  @include desktop {
    width: 212px;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
  }
}

// ------------------ Capabilities ---------------------

.capabilities {
  padding: 15vw 0 25.3vw;
  background-color: var(--VERIFIED_BLACK);
  color: var(--WHITEOUT);

  @include tablet {
    padding: 6.25vw 0 8.34vw;
  }

  @include desktop {
    padding: 104px 0;
    gap: 30px;
  }

  & > .container {
    @include desktop {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.capabilities__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1;
  color: var(--WHITEOUT);

  @include desktop {
    width: 360px;
    padding: 0 30px;
  }

  & + & {
    margin-top: 14.5vw;

    @include tablet {
      margin-top: 6.25vw;
    }

    @include desktop {
      margin-top: unset;
    }
  }
}

.capabilities__item-icon {
  width: 10vw;

  @include tablet {
    width: 5vw;
  }

  @include desktop {
    width: 40px;
  }
}

.capabilities__item-title {
  margin-top: 6.5vw;
  font-size: 6vw;

  @include tablet {
    margin-top: 3.65vw;
    font-size: 2.48vw;
  }

  @include desktop {
    margin-top: 28px;
    font-size: 20px;
  }
}


.capabilities__item-subtitle {
  margin-top: 4.5vw;
  font-size: 4.3vw;
  font-weight: 300;

  @include tablet {
    margin-top: 2.09vw;
    font-size: 1.83vw;
    max-width: 41vw;
  }

  @include desktop {
    margin-top: 16px;
    font-size: 14px;
  }
}

// ------------------ Review ---------------------

.review {
  padding: 20vw 0 34vw;
  color: var(--VERIFIED_BLACK);
  text-align: center;
  line-height: 1 ;
  background-size: cover;
  background-position: center bottom;

  @include mobile-only {
    background-image: url("@/assets/img/subscribe-bg.png");
  }

  @include tablet {
    padding: 8.34vw 0 18.23vw;
    background-position: center;
  }

  @include tablet-only {
    background-image: url("@/assets/img/subscribe-bg-tablet.png");
  }

  @include desktop {
    padding: 97px 0 126px;
    background-image: url("@/assets/img/subscribe-bg-desktop.png");
  }

  & > .container {
    @include desktop {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.review__ava {
  margin: 0 auto;
  width: 20vw;

  @include tablet {
    width: 12.5vw;
  }

  @include desktop {
    width: 96px;
  }
}

.review__text {
  margin-top: 9vw;
  font-size: 5.6vw;
  font-style: italic;

  @include tablet {
    margin: 3.91vw auto 0;
    font-size: 2.61vw;
    max-width: 50vw;
  }

  @include desktop {
    margin-top: 30px;
    max-width: 360px;
    font-size: 20px;
  }
}

// ------------------ Subscribe ---------------------

.subscribe {
  margin-top: 18.5vw;

  @include tablet {
    margin-top: 9.5vw;
  }

  @include desktop {
    margin-top: unset;
    width: 560px;
  }
}

.subscribe__title {
  font-size: 7.5vw;
  font-weight: 700;

  @include tablet {
    font-size: 3.13vw;
  }

  @include desktop {
    font-size: 24px;
  }
}

.subscribe__subtitle {
  font-size: 4.4vw;
  margin-top: 1vw;

  @include tablet {
    font-size: 2.35vw;
  }

  @include desktop {
    margin-top: 8px;
    font-size: 18px;
  }
}

.subscribe__email {
  margin-top: 7vw;
  display: flex;
  height: 15vw;
  font-size: 4.4vw;
  line-height: 15vw;

  @include tablet {
    margin: 7vw auto 0;
    font-size: 1.83vw;
    width: 46.36vw;
    height: 6.39vw;
    line-height: 6.39vw;
  }

  @include desktop {
    margin-top: 32px;
    width: 356px;
    height: 49px;
    font-size: 14px;
    line-height: 49px;
  }
}

.subscribe__email-field {
  width: 61vw;
  padding-left: 5vw;
  border-radius: 7.5vw 0 0 7.5vw;
  background-color: var(--JUPITER);
  flex-grow: 1;

  @include tablet {
    padding-left: 2.5vw;
    border-radius: 3.2vw 0 0 3.2vw;
  }

  @include desktop {
    width: auto;
    padding-left: 20px;
  }
}

.subscribe__email-submit {
  width: 40vw;
  flex-shrink: 1;
  background-color: var(--STRAWBERRY_PINK);
  border-radius: 0 7.5vw 7.5vw 0;
  color: var(--WHITE);
  cursor: pointer;

  @include tablet {
    width: 25vw;
  }

  @include desktop {
    width: 100px;
  }
}
