:root {
  --BLACK: #000;
  --WHITE: #fff;
  --VENUS_PINK: #F1E4E6;
  --BLACK_OUT: #222;
  --STRAWBERRY_PINK: #F16D7F;
  --COLD_GREY: #9F9F9F;
  --KNIGHTS_ARMOR: #5d5d5d;
  --PEARL: #f8f8f8;
  --POMPELMO: #FF6A6A;
  --PONCEAU: #F26376;
  --VERIFIED_BLACK: #222224;
  --WHITEOUT: #fbfbfb;
  --JUPITER: #e1e1e1;
  --WELDED_IRON: #6f6e6e;
}
