@import "@/assets/scss/mixins";

.product-list__items {
  margin-top: 17.3vw;

  @include tablet {
    margin-top: 9.38vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2.09vw;
  }

  @include desktop {
    margin-top: 48px;
    row-gap: 30px;
  }
}

.product-list__item {
  padding-bottom: 5.07vw;
  text-align: left;
  background-color: var(--PEARL);
  cursor: pointer;

  @include tablet {
    padding-bottom: 5.07vw;
    flex-basis: 46.88vw;
  }

  @include desktop {
    padding-bottom: 20px;
    flex-basis: 360px;
  }

  & + & {
    margin-top: 4.27vw;

    @include tablet {
      margin-top: unset;
    }
  }
}

.product-list__item-text {
  padding: 0 4.27vw;

  @include tablet {
    padding: 0 2.09vw;
  }

  @include desktop {
    padding: 0 16px;
  }
}

.product-list__item-title {
  margin-top: 6.7vw;
  font-size: 3.47vw;
  color: var(--BLACK);
  text-transform: uppercase;

  @include tablet {
    margin-top: 3.26vw;
    font-size: 1.7vw;
  }

  @include desktop {
    margin-top: 24px;
    font-size: 13px;
  }
}

.product-list__item-desc {
  margin-top: 3.2vw;
  font-size: 3.75vw;
  color: var(--KNIGHTS_ARMOR);

  @include tablet {
    margin-top: 1.64vw;
    font-size: 1.83vw;
  }

  @include desktop {
    margin-top: 16px;
    font-size: 14px;
  }
}

.product-list__item-price {
  margin-top: 4.8vw;
  color: var(--STRAWBERRY_PINK);

  @include tablet {
    margin-top: 2.35vw;
    font-size: 2.09vw;
  }

  @include desktop {
    margin-top: 16px;
    font-size: 16px;
  }
}
