@import "@/assets/scss/mixins";

.registration-page__content {
  padding: 48px 0 96px;

  @include tablet {
    display: flex;
    justify-content: space-between;
    gap: 22px;
  }

  @include desktop {
    gap: 128px;
  }
}

.registration-page__form {
  @include tablet {
    flex-basis: 360px;
    flex-shrink: 0;
  }
}

.registration-page__button {
  margin-top: 38px;
  padding: 16px 28px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--WHITE);
  background-color: var(--STRAWBERRY_PINK);
  text-transform: uppercase;

  svg {
    margin-left: 20px;
    fill: var(--WHITE);
  }
}

.registration-page__perks {
  margin-top: 40px;

  @include tablet {
    margin-top: unset;
  }
}

.perks {
  font-size: 16px;
  color: var(--BLACK);

  @include desktop {
    font-size: 24px;
  }
}

.perks__title {
  margin-bottom: 32px;
  text-transform: uppercase;
}

.perks__list {
  margin-top: 22px;
}

.perks__list-item {
  display: flex;
  align-items: flex-start;
  line-height: 1;

  & + & {
    margin-top: 16px;
  }

  svg {
    margin-right: 22px;
    fill: var(--BLACK);
  }
}
