@import "@/assets/scss/mixins";
@import "@/assets/scss/variables";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

img {
  width: 100%;
  height: auto;
}

input {
  border: 0;
  outline: 0;
}

.landing {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--BLACK_OUT);
}

.container {
  @include portrait {
    margin: 0 auto;
    width: 91vw;
  }

  @include portrait-tablet {
    width: 95.84vw;
  }
}

.landing__header {
  display: flex;

  @include portrait {
    height: 19.76vw;
  }

  @include portrait-tablet {
    height: 9.63vw;
  }
}

// ------------------ Header ---------------------

.header {
  background-color: var(--BLACK);
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  @include portrait {
    width: 11.76vw;
  }

  @include portrait-tablet {
    width: 4.27vw;
  }
}

.header__search {
  margin-right: auto;
  cursor: pointer;

  @include portrait {
    width: 6.96vw;
    margin-left: 10vw;
  }

  @include portrait-tablet {
    width: 2.8vw;
    padding-top: 1vw;
    margin-left: 5.34vw;
  }
}

.header__user {
  cursor: pointer;

  @include portrait {
    display: none;
  }

  @include portrait-tablet {
    display: block;
    margin-left: 3.26vw;
    width: 3.2vw;
  }
}

.header__cart {
  cursor: pointer;

  @include portrait {
    display: none;
  }

  @include portrait-tablet {
    display: block;
    margin-left: 5.5vw;
    width: 3.6vw;
  }
}

// ------------------ Banner ---------------------

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--VENUS_PINK);

  @include portrait {
    height: 96.8vw;
  }

  @include portrait-tablet {
    justify-content: space-between;
    align-items: stretch;
    height: 47vw;
  }
}

.banner__left {
  @include portrait-tablet {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

.banner__left-img {
  max-height: 100%;
}

.banner__text-block {
  position: relative;

  @include portrait {
    padding-left: 7.47vw;
    line-height: 1.1;
  }

  @include portrait-tablet {
    align-self: center;
    padding-left: 3.65vw;
    margin-right: 4.3vw;
    line-height: 1.35;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--STRAWBERRY_PINK);

    @include portrait {
      width: 3.2vw;
    }

    @include portrait-tablet {
      width: 1.57vw;
    }
  }
}

.banner__title {
  font-weight: 900;

  @include portrait {
    font-size: 10.2vw;
  }

  @include portrait-tablet {
    font-size: 5.74vw;
  }
}

.banner__subtitle {
  font-weight: 700;

  @include portrait {
    font-size: 5.34vw;
  }

  @include portrait-tablet {
    font-size: 3.13vw;
  }

  span {
    color: var(--STRAWBERRY_PINK);
  }
}

// ------------------ Sections ---------------------

.sections {
  @include portrait {
    padding: 17.07vw 0;
  }

  @include portrait-tablet {
    padding: 8.47vw 0 14.2vw;
  }

  & > .container {
    @include portrait-tablet {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;

  @include portrait {
    height: 65.87vw;
  }

  @include portrait-tablet {
    width: 30.2vw;
    height: 24.35vw;
  }

  & + & {
    @include portrait {
      margin-top: 8.54vw;
    }

    @include portrait-tablet {
      margin-top: unset;
    }
  }
}

.section:last-child {
  @include portrait {
    height: 29.6vw;
  }

  @include portrait-tablet {
    width: 100%;
    height: 15.1vw;
    margin-top: 2.35vw;
  }
}

$sections: women, men, kids, accesories;

@each $section in $sections {
  .section_#{$section} {
    background-image: url("@/assets/img/#{$section}.png");
  }
}

.section__text {
  text-align: center;

  @include portrait-tablet {
    line-height: 1.4;
  }
}

.section__text1 {
  color: var(--WHITE);

  @include portrait {
    font-size: 4.27vw;
  }

  @include portrait-tablet {
    font-size: 2.09vw;
  }
}

.section__text2 {
  font-weight: 700;
  color: var(--STRAWBERRY_PINK);

  @include portrait {
    font-size: 6.4vw;
  }

  @include portrait-tablet {
    font-size: 3.13vw;
  }
}

// ------------------ Featured ---------------------

.featured {
  text-align: center;
  line-height: 1.4;

  @include portrait {
    padding-bottom: 25.6vw;
  }
}

.featured__title {
  @include portrait {
    font-size: 8vw;
  }
}

.featured__subtitle {
  color: var(--COLD_GREY);

  @include portrait {
    font-size: 3.74vw;
  }
}

.featured__items {
  @include portrait {
    margin-top: 17.3vw;
  }
}

.featured__item {
  text-align: left;
  background-color: var(--PEARL);
  cursor: pointer;

  @include portrait {
    padding-bottom: 5.07vw;
  }

  & + & {
    @include portrait {
      margin-top: 4.27vw;
    }
  }
}

.featured__item-text {
  @include portrait {
    padding: 0 4.27vw;
  }
}

.featured__item-title {
  color: var(--BLACK);
  text-transform: uppercase;

  @include portrait {
    margin-top: 6.7vw;
    font-size: 3.47vw;
  }
}

.featured__item-desc {
  color: var(--KNIGHTS_ARMOR);

  @include portrait {
    margin-top: 3.2vw;
    font-size: 3.75vw;
  }
}

.featured__item-price {
  color: var(--STRAWBERRY_PINK);

  @include portrait {
    margin-top: 4.8vw;
  }
}

.featured__browse-all {
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5vw solid var(--POMPELMO);
  color: var(--PONCEAU);
  font-size: 4.27vw;

  @include portrait {
    margin: 10.67vw auto 0;
    width: 57.07vw;
    height: 13.34vw;
  }
}

// ------------------ Capabilities ---------------------

.capabilities {
  background-color: var(--VERIFIED_BLACK);
  color: var(--WHITEOUT);

  @include portrait {
    padding: 15vw 0 25.3vw;
  }
}

.capabilities__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1;
  color: var(--WHITEOUT);

  & + & {
    @include portrait {
      margin-top: 14.5vw;
    }
  }
}

.capabilities__item-icon {
  @include portrait {
    width: 10vw;
  }
}

.capabilities__item-title {
  @include portrait {
    margin-top: 6.5vw;
    font-size: 6vw;
  }
}


.capabilities__item-subtitle {
  font-weight: 300;

  @include portrait {
    margin-top: 4.5vw;
    font-size: 4.3vw;
  }
}

// ------------------ Review ---------------------

.review {
  color: var(--VERIFIED_BLACK);
  text-align: center;
  line-height: 1 ;
  background-image: url("@/assets/img/subscribe-bg.png");
  background-size: cover;
  background-position: center bottom;

  @include portrait {
    padding: 20vw 0 34vw;
  }
}

.review__ava {
  margin: 0 auto;

  @include portrait {
    width: 20vw;
  }
}

.review__text {
  font-style: italic;

  @include portrait {
    margin-top: 9vw;
    font-size: 5.6vw;
  }
}

// ------------------ Subscribe ---------------------

.subscribe {
  @include portrait {
    margin-top: 18.5vw;
  }
}

.subscribe__title {
  font-weight: 700;
  font-size: 7.5vw;
}

.subscribe__subtitle {
  margin-top: 1vw;
  font-size: 4.4vw;
}

.subscribe__email {
  display: flex;

  @include portrait {
    margin-top: 7vw;
    height: 15vw;
    font-size: 4.4vw;
    line-height: 15vw;
  }
}

.subscribe__email-field {
  background-color: var(--JUPITER);
  flex-grow: 1;

  @include portrait {
    width: 61vw;
    padding-left: 5vw;
    border-radius: 7.5vw 0 0 7.5vw;
  }
}

.subscribe__email-submit {
  flex-shrink: 1;
  background-color: var(--STRAWBERRY_PINK);
  cursor: pointer;

  @include portrait {
    width: 40vw;
    border-radius: 0 7.5vw 7.5vw 0;
    color: var(--WHITE);
  }
}

// ------------------ Copyright ---------------------

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--WHITEOUT);
  background-color: var(--VERIFIED_BLACK);

  @include portrait {
    padding: 13.4vw 0 3vw;
  }
}

.footer__socials {
  display: flex;
  justify-content: center;

  @include portrait {
    gap: 2.5vw;
  }
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--WHITE);

  @include portrait {
    width: 10vw;
    height: 10vw;
  }
}

.footer__social-img {
  @include portrait {
    height: 5vw;
    width: auto;
  }
}

.footer__copyright {
  @include portrait {
    margin-top: 12.4vw;
    font-size: 5vw;
  }
}
