@import "@/assets/scss/reset-styles";
@import "@/assets/scss/variables";
@import "@/assets/scss/mixins";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--NINJA);
}

img {
  width: 100%;
  height: auto;
}

input {
  border: 0;
  outline: 0;
}

.landing {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--BLACK_OUT);
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 343px;

  @include tablet {
    max-width: 736px;
  }

  @include desktop {
    max-width: 1140px;
  }
}

.landing__header {
  height: 74px;
  display: flex;
}

// ------------------ Header ---------------------

.header {
  position: relative;
  background-color: var(--BLACK);

  img {
    height: 100%;
    width: auto;
  }
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 38px;

  a {
    display: block;
  }
}

.header__search {
  height: 26px;
  margin-top: 12px;
  margin-left: 41px;
  margin-right: auto;
  cursor: pointer;
}

.header__menu {
  cursor: pointer;
  height: 23px;
}

.header__user {
  display: block;
  margin-left: 25px;
  height: 29px;
  cursor: pointer;

  @include mobile-only {
    display: none;
  }
}

.header__cart {
  cursor: pointer;
  height: 29px;
  margin-left: 42px;

  @include mobile-only {
    display: none;
  }
}

.header__popup-menu {
  position: absolute;
  right: 0;
  top: 75px;
  background-color: var(--WHITE);
  z-index: 5;
}

// ------------------ Popup menu -----------------

.popup-menu {
  padding: 34px;
  width: 232px;
  box-shadow: 6px 4px 35px 0 var(--BLACK_021);
}

.popup-menu__close {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 12px;
  cursor: pointer;
}

.popup-menu__title {
  font-size: 14px;
  font-weight: 700;
  color: var(--BLACK);
}

.popup-menu__menu-item {
  margin-top: 20px;
  font-size: 14px;
  color: var(--STRAWBERRY_PINK);
}

.popup-menu__submenu {
  padding-left: 11px;
}

.popup-menu__submenu-item {
  margin-top: 11px;
  font-size: 14px;
  color: var(--WELDED_IRON);
}

// ------------------ Footer ---------------------

.footer {
  padding: 43px 0 9px;
  color: var(--WHITEOUT);
  background-color: var(--VERIFIED_BLACK);

  @include tablet {
    padding: 24px 0;
  }

  & > .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 7px;
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: var(--WHITE);
}

.footer__social-img {
  width: auto;
  height: 18px;
}

.footer__copyright {
  margin-top: 40px;
  font-size: 16px;

  @include tablet {
    margin-top: unset;
  }
}
