@import "@/assets/scss/reset-styles";
@import "@/assets/scss/variables";
@import "@/assets/scss/mixins";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--NINJA);
}

img {
  width: 100%;
  height: auto;
}

input {
  border: 0;
  outline: 0;
}

.landing {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--BLACK_OUT);
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 91vw;

  @include tablet {
    max-width: 95.84vw;
  }

  @include desktop {
    max-width: 1140px;
  }
}

.landing__header {
  height: 19.76vw;
  display: flex;

  @include tablet {
    height: 9.63vw;
  }

  @include desktop {
    height: 75px;
  }
}

// ------------------ Header ---------------------

.header {
  position: relative;
  background-color: var(--BLACK);
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 11.76vw;

  @include tablet {
    width: 4.27vw;
  }

  @include desktop {
    width: 44px;
  }
}

.header__search {
  width: 6.96vw;
  margin-left: 10vw;
  margin-right: auto;
  cursor: pointer;

  @include tablet {
    width: 2.8vw;
    padding-top: 1vw;
    margin-left: 5.34vw;
  }

  @include desktop {
    width: 26px;
    padding-top: 9px;
    margin-left: 41px;
  }
}

.header__menu {
  cursor: pointer;

  @include desktop {
    width: 32px;
  }
}

.header__user {
  display: none;
  cursor: pointer;

  @include tablet {
    display: block;
    margin-left: 3.26vw;
    width: 2vw;
  }

  @include desktop {
    margin-left: 25px ;
    width: 29px;
  }
}

.header__cart {
  display: none;
  cursor: pointer;

  @include tablet {
    display: block;
    margin-left: 5.5vw;
    width: 2.6vw;
  }

  @include desktop {
    width: 32px;
    margin-left: 42px;
  }
}

.header__popup-menu {
  position: absolute;
  right: 0;
  top: 19.76vw;
  background-color: var(--WHITE);
  z-index: 5;

  @include tablet {
    top: 9.63vw;
  }

  @include desktop {
    top: 75px;
  }
}

// ------------------ Popup menu -----------------

.popup-menu {
  padding: 34px;
  width: 232px;
  box-shadow: 6px 4px 35px 0 var(--BLACK_021);
}

.popup-menu__close {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 12px;
  cursor: pointer;
}

.popup-menu__title {
  font-size: 14px;
  font-weight: 700;
  color: var(--BLACK);
}

.popup-menu__menu-item {
  margin-top: 20px;
  font-size: 14px;
  color: var(--STRAWBERRY_PINK);
}

.popup-menu__submenu {
  padding-left: 11px;
}

.popup-menu__submenu-item {
  margin-top: 11px;
  font-size: 14px;
  color: var(--WELDED_IRON);
}

// ------------------ Footer ---------------------

.footer {
  padding: 13.4vw 0 3vw;
  color: var(--WHITEOUT);
  background-color: var(--VERIFIED_BLACK);

  @include tablet {
    padding: 3.13vw 4.17vw;
  }

  @include desktop {
    padding: 24px 0;
  }

  & > .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 2.5vw;

  @include tablet {
    gap: 0.92vw;
  }
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 10vw;
  background-color: var(--WHITE);

  @include tablet {
    width: 4.17vw;
    height: 4.17vw;
  }

  @include desktop {
    width: 32px;
    height: 32px;
  }
}

.footer__social-img {
  width: auto;
  height: 5vw;

  @include tablet {
    height: 2vw;
  }

  @include desktop {
    height: 16px;
  }
}

.footer__copyright {
  margin-top: 12.4vw;
  font-size: 5vw;

  @include tablet {
    margin-top: unset;
    font-size: 2.09vw;
  }

  @include desktop {
    font-size: 16px;
  }
}
